<template>
  <div class="choose">
    <!-- 展示部分 -->
    <div class="container" @click="isShow = true">
      <div class="name">规格</div>
      <div class="value">
        <span v-if="goodsData.skuName">已选 {{goodsData.skuName}}</span>
        <span v-else>选择 产品规格</span>
        <span class="right">></span>
      </div>
    </div>
    <!-- 阴影 -->
    <div class="back" v-if="isShow" @click="isShow = false"></div>
    <!-- 选择部分 -->
    <div class="show" v-show="isShow">
      <div class="info">
        <div class="pic">
          <img :src="goodsData.pic" alt="">
        </div>
        <div class="right">
          <p class="price">￥{{goodsData.price}}</p>
          <p class="qty">库存 {{goodsData.qty}} 件</p>
          <p class="skuName" v-if="goodsData.skuName">已选 {{goodsData.skuName}}</p>
          <p class="skuName" v-else>选择 产品规格</p>
          <span class="exit" @click="isShow = false">x</span>
        </div>
      </div>
      <div class="chooses">
        <div class="chooseCon">
          <div class="sitem" v-for="(sitem, sindex) in sku" :key="sindex">
            <p class="title">{{sitem.specificationName}}</p>
            <div class="content">
              <span class="citem" v-for="(citem, cindex) in sitem.childrens" :class="{'active': sitem.chooseId === citem.id}" :key="cindex" @click="handlerSkuChoose(sindex, cindex)">{{citem.value}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="btn" @click="login">立即购买</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      // 是否展示选择
      isShow: false,
      // 展示信息
      goodsData: {
        pic: '',
        price: '',
        qty: '',
        skuName: '',
        skuId: ''
      }
    };
  },
  props: {
    goods: {
      default () {
        return {}
      }
    },
    skuPrice: {
      default () {
        return []
      }
    },
    sku: {
      default () {
        return []
      }
    }
  },
  watch: {
    goods: {
      handler: 'init',
      deep: true
    }
  },
  computed: {},
  created () {},
  mounted () {
    console.log(this.goods);
    this.init();
  },
  methods: {
    login () {
      this.$router.push({
        name: 'login',
        query: {
          id: this.$route.query.id,
          provinceId: this.$route.query.provinceId,
          inviteId: this.$route.query.inviteId
        }
      })
    },
    // 处理sku项目点击事件
    handlerSkuChoose (sindex, cindex) {
      let _this = this;
      // console.log(sindex, cindex);
      _this.$set(_this.sku[sindex], 'chooseId', _this.sku[sindex].childrens[cindex].id);
      _this.$set(_this.sku[sindex], 'chooseName', _this.sku[sindex].childrens[cindex].value);

      // 获取所选规格图片
      _this.goodsData.pic = _this.sku[sindex].childrens[cindex].picUrl || _this.goodsData.pic;
      // 获取规格拼接字符
      _this.goodsData.skuId = '';
      _this.goodsData.skuName = '';
      for (let i = 0; i < _this.sku.length; i++) {
        if (_this.sku[i].chooseId) {
          _this.goodsData.skuId = _this.goodsData.skuId === '' ? _this.sku[i].chooseId : _this.goodsData.skuId + '_' + _this.sku[i].chooseId;
          _this.goodsData.skuName = _this.goodsData.skuName === '' ? _this.sku[i].chooseName : _this.goodsData.skuName + ' ' + _this.sku[i].chooseName;
        } else {
          break;
        }
      }
      // 获取当前规格商品信息
      for (let i = 0; i < _this.skuPrice.length; i++) {
        if (_this.skuPrice[i].goodsSpecificationIds === _this.goodsData.skuId) {
          _this.goodsData.price = _this.skuPrice[i].retailPrice;
          _this.goodsData.qty = _this.skuPrice[i].qty;
          break
        }
      }
    },
    // 初始化
    init () {
      // console.log(this.goods);
      this.goodsData.pic = this.goods.primaryPicUrl || '';
      this.goodsData.price = this.goods.retailPrice || '';
      this.goodsData.sku = this.goods.sku || '';
      this.goodsData.skuName = '产品';
    }
  }
}

</script>
<style lang='less' scoped>
  .choose {
    position: relative;
    color: #333;
    .container {
      display: flex;
      padding: 0.1rem 0;
      width: 100%;
      .name {
        margin-right: 0.2rem;
        width: 0.9rem;
        color: #aaa;
      }
      .value {
        display: flex;
        justify-content: space-between;
        width: 6rem;
        .right {
          color: #aaa;
        }
      }
    }
    .back {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 100;
    }
    .show {
      // overflow: hidden;
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 0.2rem;
      width: 100%;
      height: 10rem;
      background: #fff;
      box-sizing: border-box;
      z-index: 101;
      .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        width: 100%;
        height: 2rem;
        .pic {
          overflow: hidden;
          position: relative;
          margin-top: -0.5rem;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 0.2rem;
          border: 1px solid #ccc;
          background: #f3f3f3;
          img {
            position: absolute;
            display: block;
            top: -5rem;
            left: -5rem;
            right: -5rem;
            bottom: -5rem;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
          }
        }
        .right {
          position: relative;
          width: 4.4rem;
          .price {
            color: #FF4E4E;
            font-size: 0.4rem;
            line-height: 0.8rem;
          }
          .qty {
            margin-bottom: 0.05rem;
          }
          .exit {
            overflow: hidden;
            position: absolute;
            display: block;
            top: 0.1rem;
            right: 0.1rem;
            width: 0.5rem;
            height: 0.5rem;
            color: #666;
            font-size: 0.4rem;
            line-height: 0.5rem;
            text-align: center;
            border: 1px solid #666;
            border-radius: 50%;
          }
        }
      }
      .chooses {
        overflow-y: scroll;
        width: 100%;
        height: 6rem;
        .chooseCon {
          width: 100%;
          .sitem {
            .title {
              font-size: 0.36rem;
            }
            .content {
              margin-bottom: 0.2rem;
              .citem {
                display: inline-block;
                margin: 0.1rem;
                padding: 0 0.2rem;
                height: 0.4rem;
                line-height: 0.4rem;
                background: #efefef;
                border-radius: 0.2rem;
              }
              .active {
                color: #fff;
                background: #FF4E4E;
              }
            }
          }
        }
        .bottom {
          padding-top: 0.2rem;
          width: 100%;
          height: 1.1rem;
          background: #fff;
          box-sizing: border-box;
          .btn {
            overflow: hidden;
            margin: 0 auto;
            width: 90%;
            height: 0.9rem;
            color: #fff;
            line-height: 0.9rem;
            text-align: center;
            border-radius: 0.45rem;
            background: #FF4E4E;
          }
        }
      }
    }
  }
</style>
