<template>
  <div class="page articleDetail">
    <p class="title">{{data.article.title}}</p>
    <p class="other"><span>{{data.article.author}}</span><span>{{data.article.ctime}}</span></p>
    <div class="articleDetailCon" v-html="data.article.content"></div>
    <!-- <div class="btn" @click="btnHandler(data.article.id)">商品</div> -->
    <div class="bottom">
      <input class="bottom__comment" type="text" placeholder="写评论">
      <div class="bottom__right">
        <div class="bottom__like">赞</div>
        <div class="bottom__login">登陆</div>
        <div class="bottom__share">分享</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page',
  components: {},
  data () {
    return {
      id: '',
      data: {
        article: {
          id: 1,
          title: '碧桂园啊啊啊啊',
          author: '12345543',
          ctime: '234543',
          content: '1234543'
        }
      }
    };
  },
  // 计算属性
  computed: {},
  // 实例后
  created () {},
  // 渲染后
  mounted () {
    document.title = '两只喜鹊 - 文章详情';
    this.getDetail();
  },
  // 自定义函数
  methods: {
    getDetail () {
      this.id = this.$route.query.id;
      console.log(this.id)
      this.$axios.post('http://120.78.156.117:8051/article/getArticle?id=' + this.id).then(res => {
        // console.log(res)
        if (res.data.code === 200) {
          console.log(res.data.data)
          this.data = res.data.data;
        } else {
          alert(res.data.msg)
        }
      }).catch(res => {
        console.log(res)
        alert('请求失败！' + res)
      })
    },
    btnHandler (id) {
      window.location.href = this.data.registerUrl + id;
    }
  }
}

</script>
<style lang='less'>
  .articleDetail {
    position: relative;
    padding: 0.2rem 0.2rem 1.2rem;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    .title {
      margin: 0.2rem 0;
      color: #000;
      font-size: 0.4rem;
      font-weight: bold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .other {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.2rem;
      color: #999999;
      font-size: 0.32rem;
    }
    .articleDetailCon {
      font-size: 0.32rem;
      img {
        width: 100%;
        height: auto;
      }
    }
    .btn {
      position: fixed;
      right: 0.2rem;
      bottom: 0.4rem;
      width: 1.6rem;
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      font-size: 0.32rem;
      color: #fff;
      background: #ff4200;
      border-radius: 0.4rem;
    }
    .bottom {
      position: fixed;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 0.8rem;
      border-top: 1px solid #eee;
      background: #fff;
      .bottom__comment {
        margin: 0.1rem 0.3rem;
        padding: 0.3rem;
        width: 2.5rem;
        height: 0.6rem;
        border: 0;
        border-radius: 0.3rem;
        background: #f3f3f3;
        outline: none;
        box-sizing: border-box;
      }
      .bottom__right {
        display: flex;
        line-height: 0.6rem;
        font-size: 0.3rem;
        .bottom__like {
          margin: 0.1rem 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
        }
        .bottom__share {
          margin: 0.1rem 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
        }
        .bottom__login {
          margin: 0.1rem 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }
  }
</style>
