<template>
  <div class="page secondComment">
    <div class="item">
      <div class="item__left">
        <div class="item__pic">
          <img :src="data.pic" alt="">
        </div>
      </div>
      <div class="item__right">
        <p class="item__firstline"><span class="item__name">{{data.name}}</span><span class="item__like">{{data.like}}</span></p>
        <p class="item__content">{{data.content}}</p>
        <p class="item__time">{{data.time}}</p>
      </div>
    </div>
    <div class="list">
      <div class="item" v-for="value in data.comment" :key="value.name">
        <div class="item__left">
          <div class="item__pic">
            <img :src="value.pic" alt="">
          </div>
        </div>
        <div class="item__right">
          <p class="item__firstline"><span class="item__name">{{value.name}}</span><span class="item__like">{{value.like}}</span></p>
          <p class="item__content">{{value.content}}</p>
          <p class="item__time">{{value.time}}</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <input class="bottom__comment" type="text" placeholder="写评论">
      <div class="bottom__right">
        <div class="bottom__like">赞</div>
        <div class="bottom__login">登陆</div>
        <div class="bottom__share">分享</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page',
  components: {},
  data () {
    return {
      data: {
        pic: '../list/text.jpg',
        name: '标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题',
        content: '内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容',
        time: '2018-12-2 12:00',
        like: 123,
        comment: [
          {
            pic: '../list/text.jpg',
            name: '标题',
            content: '内容',
            time: '2018-12-2 12:00',
            like: 123
          },
          {
            pic: '../list/text.jpg',
            name: '标题',
            content: '内容',
            time: '2018-12-2 12:00',
            like: 123
          },
          {
            pic: '../list/text.jpg',
            name: '标题',
            content: '内容',
            time: '2018-12-2 12:00',
            like: 123
          }
        ]
      }
    };
  },
  // 计算属性
  computed: {},
  // 实例后
  created () {},
  // 渲染后
  mounted () {},
  // 自定义函数
  methods: {}
}

</script>
<style lang='less' scoped>
  .secondComment {
    padding: 0.1rem 0.2rem 1rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    .item {
      display: flex;
      margin-top: 0.2rem;
      border-bottom: 1px solid #ccc;
      .item__left {
        width: 0.7rem;
        .item__pic {
          overflow: hidden;
          width: 0.7rem;
          height: 0.7rem;
          background: #999;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .item__right {
        padding: 0.1rem 0.3rem;
        width: 6.2rem;
        box-sizing: border-box;
        .item__firstline {
          display: flex;
          justify-content: space-between;
          margin: 0;
          font-size: 0.36rem;
          .item__name {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
        .item__content {
          margin: 0.1rem 0;
          color: #333;
          font-size: 0.32rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        .item__time {
          margin: 0.1rem 0;
          color: #999;
          font-size: 0.24rem;
        }
      }
    }
    .list {
      .item {
        border-color: #f3f3f3;
      }
    }
    .bottom {
      position: fixed;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 0.8rem;
      border-top: 1px solid #eee;
      background: #fff;
      .bottom__comment {
        margin: 0.1rem 0.3rem;
        padding: 0.3rem;
        width: 2.5rem;
        height: 0.6rem;
        border: 0;
        border-radius: 0.3rem;
        background: #f3f3f3;
        outline: none;
        box-sizing: border-box;
      }
      .bottom__right {
        display: flex;
        line-height: 0.6rem;
        font-size: 0.3rem;
        .bottom__like {
          margin: 0.1rem 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
        }
        .bottom__share {
          margin: 0.1rem 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
        }
        .bottom__login {
          margin: 0.1rem 0.3rem;
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }
  }
</style>
