<template>
  <div class="download-page">
    <!-- 内容 -->
    <div class="container">
      <p>如需浏览，请长按网页复制后使用浏览器访问</p>
      <!-- <p>{{url}}</p> -->
      <button class="btn" @click="copy">复制</button>
    </div>
    <div class="share" v-if="isShare">
      <div class="back"></div>
      <img src="../../../static/img/share.png" alt="">
      <div class="exit" @click="isShare = false"></div>
    </div>
  </div>
</template>

<script>
import { tool } from '../../../static/js/common.js';
import Clipboard from 'clipboard';
export default {
  name: 'null',
  components: {},
  data () {
    return {
      // 分享页面
      isShare: true,
      url: '',
    }
  },
  computed: {},
  created () {
    this.url = this.$route.query.url || '';
    this.url = decodeURIComponent(this.url)
    console.log(tool.isWeiXin())
    // if (tool.isWeiXin()) {
      // this.isShare = true;
      window.location.href = 'http://sj.qq.com/myapp/detail.htm?apkName=com.company.netshop';
    // } else {
    //   window.location.href = this.url;
    //   // this.isShare = false;
    // }
  },
  mounted () {},
  methods: {
    copy() {
      let _this = this;
      console.log(_this.url)
      let clipboard = new Clipboard('.btn', {
        text: function () {
          return _this.url
        }
      })
      console.log(clipboard)
      clipboard.on('success', e => {
        console.log('复制成功')
        alert('复制成功')
        // 释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        // 不支持复制
        console.log('该浏览器不支持自动复制')
        alert('该浏览器不支持自动复制')
        // 释放内存
        clipboard.destroy()
      })
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">
  .download-page {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 0.32rem;
    background: #f3f3f3;
    p, ul, li {
      margin: 0;
      padding: 0;
      line-style-type: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .fr-fin{
      display: block;
      margin: 0;
      width: 100%;
      height: auto;
    }
    .container {
      position: relative;
      padding-top: 3rem;
      p {
        margin-top: 0.3rem;
        max-width: 100%;
        text-align: center;
      }
      .btn {
        position: absolute;
        top: 4.3rem;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        width: 3rem;
        height: 0.8rem;
        line-height: 0.8rem;
        border: 0;
        border-radius: 0.4rem;
        color: #fff;
        background: #FF4E4E;
        cursor: pointer;
        outline: none;
      }
    }
    .share {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .back {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
      }
      img {
        position: absolute;
        top: 0.5rem;
        left: 0.3rem;
        width: 7rem;
        height: auto;
      }
      .exit {
        position: absolute;
        top: 0.7rem;
        left: 0.4rem;
        width: 0.5rem;
        height: 0.5rem;
      }
    }
  }
</style>
