<template>
  <div class="popup">
    <!-- 内容 -->
    <div class="container">
      <p>如需浏览，请长按网页复制后使用浏览器访问</p>
      <!-- <p>{{url}}</p> -->
      <button class="btn" @click="copy">复制</button>
    </div>
  </div>
</template>

<script>
import Clipboard from 'clipboard';
export default {
  name: 'null',
  components: {},
  data () {
    return {
      url: '',
    }
  },
  computed: {},
  created () {
    this.url = this.$route.params.url || '';
  },
  mounted () {},
  methods: {
    copy() {
      let _this = this;
      console.log(_this.url)
      let clipboard = new Clipboard('.btn', {
        text: function () {
          return _this.url
        }
      })
      console.log(clipboard)
      clipboard.on('success', e => {
        console.log('复制成功')
        alert()
        // 释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        // 不支持复制
        console.log('该浏览器不支持自动复制')
        // 释放内存
        clipboard.destroy()
      })
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">
  p, ul, li {
    margin: 0;
    padding: 0;
    line-style-type: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .fr-fin{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
  }
  .page {
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 0.32rem;
    background: #f3f3f3;
    
  }
</style>
