<template>
  <div class="choose">
    <!-- 展示部分 -->
    <div class="container" @click="isShow = true">
      <div class="name">参数</div>
      <div class="value">
        <span>{{showName}}</span>
        <span class="right">></span>
      </div>
    </div>
    <!-- 阴影 -->
    <div class="back" v-if="isShow" @click="isShow = false"></div>
    <!-- 选择部分 -->
    <div class="show" v-if="isShow">
      <p class="title">产品参数</p>
      <div class="content">
        <div class="item" v-for="(item, index) in attribute" :key="index">
          <p class="left">{{item.name}}</p>
          <p class="right">{{item.value}}</p>
        </div>
      </div>
      <div class="bottom">
        <div class="btn" @click="isShow = false">完成</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      // 是否展示选择
      isShow: false,
      // 展示内容
      showName: ''
    };
  },
  props: {
    attribute: {
      default () {
        return []
      }
    }
  },
  watch: {
    attribute: {
      handler: 'init',
      deep: true
    }
  },
  computed: {},
  created () {},
  mounted () {
    console.log(this.attribute);
    this.init();
  },
  methods: {
    // 初始化
    init () {
      console.log(this.attribute)
      this.showName = '';
      for (let i = 0; i < this.attribute.length; i++) {
        this.showName = this.showName + ' ' + this.attribute[i].name;
      }
    }
  }
}

</script>
<style lang='less' scoped>
  .choose {
    position: relative;
    color: #333;
    .container {
      display: flex;
      padding: 0.1rem 0;
      width: 100%;
      .name {
        margin-right: 0.2rem;
        width: 0.9rem;
        color: #aaa;
      }
      .value {
        display: flex;
        justify-content: space-between;
        width: 6rem;
        .right {
          color: #aaa;
        }
      }
    }
    .back {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 100;
    }
    .show {
      // overflow: hidden;
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 0.2rem;
      width: 100%;
      height: 10rem;
      border-top-left-radius: 0.2rem;
      border-top-right-radius: 0.2rem;
      background: #fff;
      box-sizing: border-box;
      z-index: 101;
      .title {
        width: 100%;
        height: 1rem;
        color: #000;
        font-size: 0.4rem;
        line-height: 1rem;
        text-align: center;
        background: #fff;
      }
      .content {
        overflow-y: scroll;
        width: 100%;
        height: 7.5rem;
        .item {
          display: flex;
          justify-content: space-between;
          padding: 0.2rem;
          border-bottom: 1px solid #ccc;
          box-sizing: border-box;
          .left {
            padding-right: 0.2rem;
            width: 1.8rem;
            box-sizing: border-box;
          }
          .right {
            width: 5.2rem;
            color: #666;
          }
        }
      }
      .bottom {
        padding-top: 0.2rem;
        width: 100%;
        height: 1.1rem;
        background: #fff;
        box-sizing: border-box;
        .btn {
          overflow: hidden;
          margin: 0 auto;
          width: 90%;
          height: 0.9rem;
          color: #fff;
          line-height: 0.9rem;
          text-align: center;
          border-radius: 0.45rem;
          background: #FF4E4E;
        }
      }
    }
  }
</style>
