<template>
  <div class="comment">
    <!-- 评论内容 -->
    <div class="commentCon block">
      <ul class="com_ul">
        <li class="com_li">
          <div class="com_left">
            <div class="com_avatar"><img :src="data.avatar" alt=""></div>
          </div>
          <div class="com_right">
            <p class="com_name">{{data.nickName || '匿名用户'}}</p>
            <p class="com_con">{{data.content}}</p>
            <p class="com_user"><span v-if="data.contactName">姓名 {{data.contactName}}</span> <span v-if="data.contactPhone">电话 {{data.contactPhone}}</span></p>
            <div class="com_pics">
              <div class="pic_item" v-for="(item, index) in data.pics" :key="index"><img :pic="item" :src="item" @click="showBigPic(item)" alt=""></div>
            </div>
            <p class="com_time" v-if="data.ctime">{{data.ctime}}</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- 底部按钮 -->
    <div class="bottom">
      <div class="btn" @click="more">更多精彩，请下载APP</div>
    </div>
    <div class="showBigPic" v-if="bigPic" @click="bigPic = ''">
      <div class="img"><img :src="bigPic" alt=""></div>
    </div>
  </div>
</template>

<script>
// import {getShopDetail} from '@/api/index';

export default {
  name: 'comment',
  components: {},
  data () {
    return {
      url: '',
      bigPic: '',
      // 请求参数
      query: {
        id: 43,
        inviteId: 0
      },
      data: {}
    }
  },
  computed: {},
  created () {
    document.title = '两只喜鹊-本地生活';
    try {
      this.query = {
        id: this.$route.query.id || 43,
        inviteId: this.$route.query.inviteId || 0
      }
      this.$axios.get('http://120.78.156.117:8051/api/moment/getById?id=' + this.query.id).then(res => {
        // console.log(res)
        if (res.data.code === 200) {
          console.log(res.data.data)
          this.data = res.data.data.moment;
          // this.url = res.data.data.androidUrl;
          if (this.data) {
            this.data.pics = this.data.pics ? this.data.pics.split(',') : '';
          } else {
            alert("内容已被删除")
          }
        } else {
          alert(res.data.msg)
        }
      }).catch(res => {
        console.log(res)
        alert('请求失败！' + res)
      })
    } catch (error) {
      console.error(error)
      alert('请求失败！')
    }
  },
  mounted () {},
  methods: {
    more () {
      this.$router.push({
        name: 'login',
        query: {
          id: this.query.id,
          inviteId: this.$route.query.inviteId
        }
      })
      // this.$router.push({
      //   name: 'download',
      //   params: {
      //     url: this.url,
      //   }
      // })
    },
    showBigPic (pic) {
      console.log(pic)
      this.bigPic = pic;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">
  p, ul, li {
    margin: 0;
    padding: 0;
    line-style-type: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .fr-fin{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
  }
  .comment {
    // padding-top: 0.6rem;
    color: #333;
    font-size: 0.32rem;
    background: #f3f3f3;
    .block {
      margin-bottom: 0.2rem;
      padding: 0.2rem;
      width: 100%;
      height: auto;
      background: #fff;
      box-sizing: border-box;
    }
    .commentCon {
      width: 100%;
      .com_ul {
        .com_li {
          display: flex;
          padding: 0.2rem 0;
          border-bottom: 0.02rem solid #cdcdcd;
          .com_left {
            padding-right: 0.2rem;
            width: 0.8rem;
            box-sizing: border-box;
            .com_avatar {
              overflow: hidden;
              width: 0.6rem;
              height: 0.6rem;
              border-radius: 50%;
            }
          }
          .com_right {
            width: 6.3rem;
            .com_name {
              color: #FF4E4E;
              line-height: 0.5rem;
            }
            .com_con, .com_user {
              padding: 0.1rem 0;
              line-height: 0.3rem;
            }
            .com_pics {
              display: flex;
              flex-wrap: wrap;
              .pic_item {
                position: relative;
                overflow: hidden;
                margin-right: 0.05rem;
                margin-bottom: 0.05rem;
                width: 2.05rem;
                height: 2.05rem;
                background: rgb(25, 25, 25);
                img {
                  position: absolute;
                  top: -10rem;
                  bottom: -10rem;
                  margin: auto;
                  width: 100%;
                  height: auto;
                }
              }
            }
            .com_time {
              padding-top: 0.1rem;
              color: #999;
              line-height: 0.3rem;
              font-size: 0.24rem;
            }
          }
        }
      }
    }
    .bottom {
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 0.2rem 0;
      width: 100%;
      height: 1.3rem;
      background: #fff;
      box-sizing: border-box;
      .btn {
        overflow: hidden;
        margin: 0 auto;
        width: 90%;
        height: 0.9rem;
        color: #fff;
        line-height: 0.9rem;
        font-size: 0.36rem;
        text-align: center;
        border-radius: 0.45rem;
        background: #FF4E4E;
      }
    }
    .showBigPic {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(25, 25, 25);
      .img {
        position: relative;
        width: 100%;
        height: 100%;
        img {
          position: absolute;
          top: -10rem;
          bottom: -10rem;
          margin: auto;
          width: 100%;
          height: auto;
        }
      }
    }
  }
</style>
