<template>
  <div class="detail">
    <!-- 下载、登陆 -->
    <!-- <div class="navbar">
      <div class="download btn" @click="download">下载APP</div>
      <div class="login btn" @click="login">登陆</div>
    </div> -->
    <!-- 轮播 -->
    <div class="goodsSwiper">
      <swiper :options="swiperOption" ref="mySwiper" @someSwiperEvent="callback" class="swiper">
        <swiper-slide class="swiperSlide"><img :src="data.goods.primaryPicUrl || ''" alt=""></swiper-slide>
      </swiper>
    </div>
    <!-- 产品信息 -->
    <div class="goodsInfo block">
      <div class="price">
        <p class="retailPrice"><span>￥</span>{{data.goods.retailPrice}}</p>
        <p class="marketPrice">价格：￥{{data.goods.marketPrice}}</p>
      </div>
      <p class="name">{{data.goods.name}}</p>
      <div class="info">
        <span class="postage">运费：{{data.goods.postage || '免运费'}}</span>
        <span class="sellQty" v-show="data.goods.sellQty">月销量：{{data.goods.sellQty}}</span>
      </div>
    </div>
    <!-- 规格参数 -->
    <div class="goodsParameter block">
      <div class="specification">
        <v-choose :goods="data.goods" :skuPrice="data.skuPrice" :sku="data.sku"></v-choose>
      </div>
      <div class="attribute">
        <v-attribute :attribute="data.attribute"></v-attribute>
      </div>
    </div>
    <!-- 产品说明 -->
    <div class="goodsDesc block">
      <div class="content" v-html="data.goods.goodsDesc"></div>
    </div>
    <!-- 底部按钮 -->
    <div class="bottom">
      <div class="btn" @click="login">更多优惠，请下载APP</div>
    </div>
  </div>
</template>

<script>
// import {getShopDetail} from '@/api/index';
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import choose from '../../components/choose/choose.vue';
import attribute from '../../components/attribute/attribute.vue';

export default {
  name: 'detail',
  components: {
    swiper,
    swiperSlide,
    'v-choose': choose,
    'v-attribute': attribute
  },
  data () {
    return {
      // 请求参数
      query: {
        id: 1181000,
        provinceId: 0,
        inviteId: 0
      },
      // 轮播插件参数
      swiperOption: {
        // some swiper options/callbacks
        // 所有的参数同 swiper 官方 api 参数
        // ...
      },
      // 商品数据
      data: {
        goods: {
          goodsBrief: '',
          goodsDesc: '',
          goodsSn: '',
          goodsType: '',
          id: '',
          isPay: '',
          marketPrice: '',
          name: '',
          postage: '',
          primaryPicUrl: '',
          retailPrice: '',
          sellQty: '',
          videoUrl: ''
        }
      }
    }
  },
  computed: {
    swiper () {
      return this.$refs.mySwiper.swiper
    }
  },
  created () {
    document.title = '两只喜鹊';
    try {
      this.query = {
        id: this.$route.query.id || 1181000,
        provinceId: this.$route.query.provinceId || 0,
        inviteId: this.$route.query.inviteId || 0
      }
      this.$axios.get('http://120.78.156.117:8051/api/goods/detail?id=' + this.query.id + '&provinceId=' + this.query.provinceId).then(res => {
        // console.log(res)
        if (res.data.code === 200) {
          this.data = res.data.data;
        } else {
          alert(res.data.msg)
        }
      }).catch(res => {
        console.log(res)
        alert('请求失败！' + res)
      })
    } catch (error) {
      console.error(error)
      alert('请求失败！')
    }
  },
  mounted () {
    this.swiper.slideTo(3, 1000, false)
  },
  methods: {
    callback (res) {
      console.log(res)
    },
    download () {
      window.location.href = 'http://sj.qq.com/myapp/detail.htm?apkName=com.company.netshop';
    },
    login () {
      this.$router.push({
        name: 'login',
        query: {
          id: this.query.id,
          provinceId: this.query.provinceId,
          inviteId: this.query.inviteId
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">
  p {
    margin: 0;
  }
  .fr-fin{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
  }
  .detail {
    // padding-top: 0.6rem;
    color: #333;
    font-size: 0.28rem;
    background: #f3f3f3;
    .block {
      margin-bottom: 0.2rem;
      padding: 0.2rem;
      width: 100%;
      height: auto;
      background: #fff;
      box-sizing: border-box;
    }
    .navbar {
      position: fixed;
      display: flex;
      justify-content: flex-end;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      background: #fff;
      z-index: 102;
      .btn {
        margin-right: 0.5rem;
        color: #FF4E4E;
        line-height: 0.6rem;
      }
    }
    .goodsSwiper {
      width: 100%;
      height: 5rem;
      background: #efefef;
      .swiper {
        width: 100%;
        height: 100%;
        .swiperSlide {
          overflow: hidden;
          position: relative;
          img {
            position: absolute;
            left: -5rem;
            right: -5rem;
            margin: auto;
            width: auto;
            height: 100%;
          }
        }
      }
    }
    .goodsInfo {
      .price {
        .retailPrice {
          color: #FF4E4E;
          font-size: 0.4rem;
          line-height: 0.4rem;
          span {
            font-size: 0.28rem;
          }
        }
        .marketPrice {
          margin-top: -0.08rem;
          color: #aaa;
        }
      }
      .name {
        margin-top: 0.12rem;
        margin-bottom: 0.15rem;
        color: #000;
        font-size: 0.32rem;
        line-height: 0.4rem;
      }
      .info {
        display: flex;
        justify-content: space-between;
        color: #aaa;
      }
    }
    .goodsDesc {
      margin-bottom: 2rem;
      .content {
        p {
          margin: 0;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .bottom {
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 0.2rem 0;
      width: 100%;
      height: 1.3rem;
      background: #fff;
      box-sizing: border-box;
      .btn {
        overflow: hidden;
        margin: 0 auto;
        width: 90%;
        height: 0.9rem;
        color: #fff;
        line-height: 0.9rem;
        font-size: 0.36rem;
        text-align: center;
        border-radius: 0.45rem;
        background: #FF4E4E;
      }
    }
  }
</style>
