<template>
  <div class="login">
    <div class="container">
      <input class="tel" type="number" v-model="form.phone" placeholder="请输入你的手机号">
      <input class="code" type="text" v-model="form.code" placeholder="请输入手机验证码">
      <div class="getCode" @click="codeHandler">{{codeNum === 60 ? '获取验证码' : codeNum}}</div>
      <input class="password" type="text" v-model="form.password" placeholder="请设置登陆密码">
      <div class="btn" @click="loginHandler">注册</div>
    </div>
    <div class="pact">注册即表示同意<span @click="pactHandler">《用户使用协议》</span></div>
  </div>
</template>

<script>
import { verify } from '../../../static/js/common.js';
export default {
  name: 'login',
  data () {
    return {
      // 验证码倒计时
      codeNum: 60,
      // 表单数据
      form: {
        phone: '',
        code: '',
        password: ''
      },
      // 请求参数
      query: {
        id: 0,
        provinceId: 0,
        inviteId: 0
      }
    };
  },
  created () {
    document.title = '两只喜鹊-注册';
    this.query.id = this.$route.query.id || 0;
    this.query.provinceId = this.$route.query.provinceId || 0;
    this.query.inviteId = this.$route.query.inviteId || 0;
  },
  methods: {
    // 获取验证码
    codeHandler () {
      let _this = this;

      if (_this.codeNum === 60) {
        let _phone = verify.phone(_this.form.phone)
        if (_phone.statu === 0) {
          console.log(true)
          _this.getCode();
        } else {
          alert(_phone.msg)
        }
      }
    },
    // 获取验证码
    getCode () {
      let _this = this;
      _this.codeNum = _this.codeNum - 1;
      _this.$axios.post('http://120.78.156.117:8051/api/user/registerSms?phone='+_this.form.phone).then(res => {
        if (res.data.code === 200) {
          console.log('验证码发送成功')
          let timer = setInterval(function () {
            // console.log(_this.codeNum)
            if (_this.codeNum > 0) {
              _this.codeNum = _this.codeNum - 1;
            } else {
              clearInterval(timer);
              _this.codeNum = 60;
            }
          }, 1000);
        } else {
          _this.codeNum = 60;
          alert(res.data.msg)
        }
      }).catch(res => {
        _this.codeNum = 60;
        console.log(res)
        alert('请求失败！' + res)
      })
    },
    // 登陆
    loginHandler () {
      let _this = this;
      let _phone = verify.phone(_this.form.phone);
      let _code = verify.strNum(_this.form.code, 6, '验证码');
      let _password = verify.strNum(_this.form.password, 6, '密码');
      if (_phone.statu === 0 && _code.statu === 0 && _password.statu === 0) {
        _this.$axios.post('http://120.78.156.117:8051/api/user/register?phone='
          + _this.form.phone
          + '&smsCode=' + _this.form.code
          + '&inviteId=' + _this.query.inviteId
          + '&password=' + _this.form.password)
          .then(res => {
          if (res.data.code === 200) {
            console.log('注册成功', res);
            alert('注册成功');
            setTimeout(() => {
              window.location.href = 'http://sj.qq.com/myapp/detail.htm?apkName=com.company.netshop';
              // _this.$router.push({
              //   name: 'download',
              //   query: {
              //     url: encodeURIComponent(res.data.data.androidUrl),
              //   }
              // })
            }, 200);
          } else if (res.data.code === 202) {
            console.log(res.data.msg);
            alert(res.data.msg);
            setTimeout(() => {
              window.location.href = 'http://sj.qq.com/myapp/detail.htm?apkName=com.company.netshop';
              // _this.$router.push({
              //   name: 'download',
              //   query: {
              //     url: encodeURIComponent(res.data.data.androidUrl),
              //   }
              // })
            }, 200);
          } else {
            alert(res.data.msg)
          }
        }).catch(res => {
          console.log(res)
          alert('请求失败！' + res)
        })
      } else {
        let msg = _phone.msg ? _phone.msg : _code.msg ? _code.msg : _password.msg;
        alert(msg)
      }
    },
    pactHandler () {
      this.$router.push({
        name: 'pact'
      })
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.login {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 12rem;
  background: url("../../../static/img/login-back.jpeg") no-repeat;
  background-size: 100% 100%;
  .container {
    position: absolute;
    overflow: hidden;
    top: 55%;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0.4rem 0.4rem 0.26rem;
    width: 5.3rem;
    height: auto;
    border-radius: 0.2rem;
    background: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    input {
      margin-bottom: 0.2rem;
      padding: 0.2rem;
      width: 100%;
      height: 0.6rem;
      font-size: 0.26rem;
      border: 0;
      outline: none;
      border-radius: 0.1rem;
      box-sizing: border-box;
      box-shadow: 0px 0px 5px #999 inset;
    }
    .getCode {
      position: absolute;
      top: 1.2rem;
      right: 0.4rem;
      width: 1.6rem;
      height: 0.6rem;
      line-height: 0.6rem;
      color: #ff8900;
      font-size: 0.26rem;
      border-top-right-radius: 0.1rem;
      border-bottom-right-radius: 0.1rem;
      background: #fff;
      border-left: 1px solid #ccc;
      text-align: center;
    }
    .btn {
      margin: 0.05rem auto 0;
      width: 3.6rem;
      height: 0.96rem;
      line-height: 0.96rem;
      color: #fff;
      font-size: 0.36rem;
      text-align: center;
      background: url("../../../static/img/login-btn.png");
      background-size: 100% 100%;
    }
  }
  .pact {
    position: absolute;
    left: 0;
    right: 0;
    top: 95%;
    margin: auto;
    color: #fff;
    line-height: 20px;
    font-size: 0.28rem;
    text-align: center;
    span {
      color: #1dd2ff;
    }
  }
}
</style>
